.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/1752010768-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1175px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-decoration: underline !important;
  margin: 46px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 3.75rem;
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  height: 881px;
  grid-gap: 10px 10px;
  margin-top: 84px;
  margin-bottom: 60px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 41.23%;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-back-image-4 {
  object-position: 100% 22.03%;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 41.23%;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 34px;
  height: 34px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 34px;
  height: 34px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 969px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-text-1 {
    width: 379px;
    margin-top: 35px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 19px;
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 290px;
    margin-top: 65px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-back-image-5 {
    object-position: 0% 0%;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 20px;
    height: 20px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 20px;
    height: 20px;
    left: auto;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/1752010768-02.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 559px;
}

.u-section-2 .u-slider-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 0;
  min-height: 478px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/1617997055919.jpg");
  background-position: 50% 50%;
  margin: 0 450px;
}

.u-section-2 .u-text-1 {
  width: 747px;
  line-height: 2;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  width: 121px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  top: 224px;
  position: absolute;
  right: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-slider-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 350px;
    margin-right: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 240px;
    margin-right: 240px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-slider-1 {
    margin-top: 18px;
    min-height: 647px;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 45px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-slider-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 379px;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-2 .u-image-1 {
    width: 68px;
    height: 68px;
    margin-top: 31px;
    margin-right: 103px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 19px;
    margin-left: 13px;
    margin-right: 13px;
  }
}